<% layout('layouts/boilerplate') -%>
<h1>About this Website</h1>
<p>This website is a part of the "Web Developer Bootcamp" course by Colt Steele. It is created as a part of learning. I Shangsit Nath, have fixed some bugs which have arised because of new versions of some packages.</p>